# Flutter
.dart_tool/
.pub/
.pub-cache/
.packages
build/
*.iml
*.lock
*.pid
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.log
*.key
*.keystore
*.jks
google-services.json
GoogleService-Info.plist

# Environment
.env
.env.local

# Android
android/app/src/main/gen/
android/app/src/main/res/values/keystore.xml
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GoogleService-Info.plist

# Mac
macos/Pods/
macos/.symlinks/
macos/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.*
macos/Flutter/Flutter.framework
macos/Flutter/ephemeral/
macos/Flutter/flutter_export_environment.sh

# Web
web/